<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add data</title>
</head>
<body>
    <h2 class="bg_blue">Add Students</h2>
    <form action="/add_student" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label">CollegeID : </label>
            <input type="text" name="ID" class="form-control">
        </div>
      <div class="form-group">
          <label class="control-label">Name : </label>
          <input type="text" name="name" class="form-control">
      </div>
      <div class="form-group">
          <label class="control-label">Email : </label>
          <input type="text" name="email" class="form-control">
      </div>
      <div class="form-group">
          <label class="control-label">Profile : </label>
          <input type="file" name="profile" class="form-control">
      </div>
      <div class="form-group">
          <label class="control-label">Course : </label>
          <select name="course" class="form-control course">
              {% for course in courses %}
                  <option value="{{ course.id }}">{{ course.course_name }}</option>
              {% endfor %}
          </select>
      </div>
       <div class="subject-div">

       </div>
       <div class="form-group">
           <div class="row">
               <div class="col-lg-6">
                   <button class="add_subject btn btn-block btn-info" type="button">Add Subject</button>
               </div>
               <div class="col-lg-6">
                   <button class="remove_subject btn btn-block btn-danger" type="button">Remove Subject</button>
               </div>
           </div>
       </div>
      <div class="form-group">
          <input type="submit" name="submit" class="btn btn-block btn-success" value="Add Students">
      </div>

      </form>
  </div>
</div>
</div>
<div class="col-lg-6 custom-block">
<div class="row">
  <div class="col-lg-12">
      <h2 class="bg_blue">Add Teacher</h2>
  </div>
  <div class="form-group">
    <label class="control-label">CollegeID : </label>
    <input type="text" name="ID" class="form-control">
</div>
  <div class="col-lg-12">
      <form action="/add_teacher" method="post">
        {% csrf_token %}
      <div class="form-group">
          <label class="control-label">Name : </label>
          <input type="text" name="name" class="form-control">
      </div>
      <div class="form-group">
          <label class="control-label">Email : </label>
          <input type="text" name="email" class="form-control">
      </div>
        <div class="form-group">
          <label class="control-label">Department : </label>
          <input type="text" name="department" class="form-control">
      </div>
      <div class="form-group">
          <input type="submit" name="submit" class="btn btn-block btn-success" value="Add Teachers">
      </div>
      </form>
</body>
</html>