<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Students</title>
</head>
<body style="color: green;">
    <header>
        <div class="heading">
            <div class="college-logo">
                {% load static %}
                <img src="{% static 'Images/logo.png' %}" alt="Herald College Logo" id="logo">
            </div>
            <div class="pagename">
                <nav>
                    <a href="home.html" class="btn btn-success">Home</a>
                    <a href="students.html" class="btn btn-success">Students</a>
                    <a href="staff.html" class="btn btn-success">Staff</a>
                    <a href="contact.html" class="btn btn-success">Contact</a>
                    <a href="about.html" class="btn btn-success">About</a>
                    <a href="#" class="btn btn-success">Search</a>
                </nav>    
            </div>

        </div>
    </header>

    <div class="staffstudent-list">
        <h2>Search Student Details</h2>
    
    <form method='POST' action="">
        {% csrf_token %}
        <div class="search-bar">
            <input type="text" placeholder="Enter Full Student Name ..." name="srh" >
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form><br><br>
    </div>

    </ul>
    <section id="data">
        <div id="details"style="color: green;">
            {% if sr %}
                {% for rows in sr %}
                    <table border="2px" width="350px">
                    <tr>
                        <td>Student ID</td>
                        <td>{{rows.StudentID}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{rows.StudentName}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{rows.email}}</td>
                    </tr>
                    <tr>
                        <td>Standard</td>
                        <td>{{rows.standard}}</td>
                    </tr>
                    </table>
                {% endfor %}    
            {% endif %}
        </div>
    </section>
</body>
</html> 